@font-face {font-family:"syml";src:url('fonts/PingFang_Regular.ttf') format('truetype');}
* {
    margin:0;
    padding:0;
    font-family:syml;
}
li {
    list-style:none;
}
html::-webkit-scrollbar {
    display: none;
}

body {
    overflow:-Scroll;
    overflow-x:hidden;
    font-family:"PingFang-Regular";

}
 .logoshow{width: 167px; height: 50px;background: url(img/logo.png) no-repeat;background-size:100% 100%;position: fixed;top: 10px;left:5%;cursor:pointer;}
.login {
    width:100%;
    height:100%;
    background:url(bj.jpg) no-repeat center;
    overflow: hidden;
    background-size:100%;
    position:absolute;
    transition: all .2s;
    -o-transition: all .2s;
    -moz-transition: all .2s;
    -webkit-transition: all .2s;
}
@media screen and (min-width:1920px) {
    .login{
       background-size:cover;
    }
}
@media screen and (max-width:1700px) {
    .login{
       background-size:cover;
    }
}
@media screen and (max-width:600px) {
     .logoshow{
         display: none;
     }
    .bottomtext{
        display: none;
    }
    .login {
        width:100%;
        min-width: 300px;
        background:url(smallbj.png) no-repeat;
        overflow: hidden;
        background-size:100%;
        position:absolute;

    }
}
#app {
    width:100%;
    height:100%;
}
.BMap_cpyCtrl {
    display:none !important;
}
.anchorBL {
    display:none !important;
}
.vue-cropper{
    background-image: none !important;
}
input {

    padding-left:5px;
    -webkit-box-shadow:inset 0 1px 1px rgba(0,0,0,.075);
    box-shadow:inset 0 1px 1px rgba(0,0,0,.075);
    -webkit-transition:border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
    -o-transition:border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition:border-color ease-in-out .15s,box-shadow ease-in-out .15s
}
input:focus {
    border-color:#66afe9;
    outline:0;
    /*-webkit-box-shadow:inset 0 1px 1px rgba(0,0,0,0),0 0 8px rgba(102,175,233,.6);*/
    /*box-shadow:inset 0 1px 1px rgba(0,0,0,0),0 0 8px rgba(102,175,233,.6)*/
}
