@font-face {
    font-family: 'PingFang_Regular';
    src: url('fonts/PingFang_Regular.eot');
    src: url('fonts/PingFang_Regular.eot') format('embedded-opentype'),
         url('fonts/PingFang_Regular.woff2') format('woff2'),
         url('fonts/PingFang_Regular.woff') format('woff'),
         url('fonts/PingFang_Regular.ttf') format('truetype'),
         url('fonts/PingFang_Regular.svg#PingFang_Regular') format('svg');
}

* {
    margin:0;
    padding:0;
    font-family:"PingFang_Regular";
}
li {
    list-style:none;
}
html::-webkit-scrollbar {
    display: none;
}
  .events-day:hover{
  background:rgba(252,248,227,0.6);
}
.el-dialog{
  min-width: 475px;
} 
.day-number{
  text-align: center!important;
  font-size: 18px!important;
}
.event-item{
   background:rgb(0,128,186) !important;
   color: white !important;
}
.el-breadcrumb__inner{
  font-size:17px;
  color: gray;
  font-weight: 500;
}
body {
    padding-right:0 !important;
    overflow:-Scroll;
    overflow-x:hidden;
    font-family:"PingFang-Regular";

}
    .apply{
      display: block;
      padding:5px 10px ;
      width:30%;
      min-width:60px;
      margin: 0 auto;
      cursor: pointer;
      border: 1px solid rgb(0,162,232);
      background-color:rgb(0,128,186);
      color: white;
      font-size: 14px;
      border-radius:3px;
    }
.el-table--scrollable-x .el-table__body-wrapper{
    overflow-x: hidden;
}
.el-table th{
    font-size: 17px;
  
}
.el-table th,.el-table td{
    text-align: center;
    color: rgb(72,72,72);
    
}

.el-collapse-item__arrow.is-active{
     transform: rotate(270deg);
}
.el-collapse-item__arrow{
    transform: rotate(90deg);
}
.el-collapse{
    border:none;
}
.el-collapse-item__wrap{
      border:none;
}
.el-collapse-item__header{
    width: 90%;
    min-width:600px; 
    font-size: 15px;
   
    border-radius:5px; 
    background-color:rgb(0,128,186);
    color: white;
    margin-top: 20px;
}
 .logoshow{width: 167px; height: 50px;border-radius: 3px; background: url(img/logo.png) no-repeat;background-size:100% 100%;position: fixed;top: 10px;left:5%;cursor:pointer;}
.login {
    width:100%;
    height:100%;
    background:url(bj.jpg) no-repeat center;
    overflow: hidden;
    background-size:100%;
    position:absolute;
    transition: all .2s;
    -o-transition: all .2s;
    -moz-transition: all .2s;
    -webkit-transition: all .2s;
}
@media screen and (min-width:1920px) {
    .login{
       background-size:cover;
    }
}
@media screen and (max-width:1700px) {
    .login{
       background-size:cover;
    }
}
@media screen and (max-width:600px) {
  .el-dialog,.el-message-box{
  min-width:80% !important;
} 
  .el-collapse-item__header{
     min-width:0; 
     margin: 20px auto;
     overflow: hidden;
  }
  .el-collapse-item__wrap{
    overflow: auto;
  }
     .logoshow{
         display: none;
     }
    .bottomtext{
        display: none;
    }
    .login {
        width:100%;
        min-width: 300px;
        background:url(smallbj.png) no-repeat;
        overflow: hidden;
        background-size:100%;
        position:absolute;
    }
}
#app {
    width:100%;
    height:100%;
}
.BMap_cpyCtrl {
    display:none !important;
}
.anchorBL {
    display:none !important;
}
.vue-cropper{
    background-image: none !important;
}
input {
    padding-left:5px;
    border-radius: 0;
    -webkit-tap-highlight-color:rgba(255,0,0,0);
}
input:focus {
    background:transparent;
    border-color:transparent;
    outline:0;
}
