@font-face {font-family:"syml";src:url('fonts/PingFang_Regular.ttf');}
* {
    margin:0;
    padding:0;
    font-family:syml;
}
li {
    list-style:none;
}
html::-webkit-scrollbar {
    display: none;
}

body {
    overflow:-Scroll;
    overflow-x:hidden;
    font-family:"PingFang-Regular";

}
/*@font-face {font-family:"PingFang-Regular";src:url(../../static/fonts/PingFang-Regular.ttf);}*/
.login {
    width:100%;
    height:100%;
    background:url(bj.jpg) no-repeat;
    overflow: hidden;
    background-size:cover;
    position:absolute;
}
#app {
    width:100%;
    height:100%;
}
.BMap_cpyCtrl {
    display:none !important;
}
.anchorBL {
    display:none !important;
}
.vue-cropper{
    background-image: none !important;
}
input {
    padding:7px 0px;
    border-radius:3px;
    padding-left:5px;
    -webkit-box-shadow:inset 0 1px 1px rgba(0,0,0,.075);
    box-shadow:inset 0 1px 1px rgba(0,0,0,.075);
    -webkit-transition:border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
    -o-transition:border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition:border-color ease-in-out .15s,box-shadow ease-in-out .15s
}
input:focus {
    border-color:#66afe9;
    outline:0;
    -webkit-box-shadow:inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(102,175,233,.6);
    box-shadow:inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(102,175,233,.6)
}
